.teal {
    background-color: lightseagreen;
    margin-top: 0;
    padding: 25px;
    padding-bottom:0;
    padding-top: px;
}

.description {
    padding-left: 25px;
}
.textDescription {
    width: 60%;
    font-size: large;
    padding: 10px;
    border: solid 1px black
}

#sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 35px;
    width: 0;
    
}

#closeButton {
    width: 75%;
    margin-left: 100px;
    margin-top: 0px;
    padding: 10px;
    font-size: 30px;
    transition: 0.3s;
    background-color: lightgray;
    border: none;
    color: black;
}

#openButton {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    background-color: lightseagreen;
    border: none;
}
/*
#home {
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    font-size: 25px;
    width: 100%;
}
#github {
    width: 100%;
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    font-size: 25px;
}
#linkedIn {
    width: 100%;
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    font-size: 25px;
}
#resume {
    width: 100%;
    margin-left:50px;
    margin-top: 20px;
    display: block;
    font-size: 25px;
}*/

#sidebar a {
    padding: 10px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: lightseagreen;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}
#sidebar a:hover {
    color: white;
}